<footer id="footer" class="dark">

  <div class="container">

    <div class="footer-widgets-wrap clearfix">

      <div class="col_full">

        <div class="col_one_third">

          <div class="widget clearfix">

            <h2 style="margin-bottom:10px">JKCODES</h2>

            <p style="margin-bottom:10px">Quick Access Contact Information and Links</p>

            <div style="background: url('/images/world-map.png') no-repeat center center; background-size: 100%;">
              
              <abbr title="Phone Number"><i class="icon-headphones"></i></abbr> - (201) 574-6896<br>
              <abbr title="Email Address"><i class="icon-envelope2"></i></abbr> - josephkim0224@gmail.com<br>
              <abbr title="GitHub"><i class="icon-github2"></i></abbr> - <a href="https://github.com/JKCodes">https://github.com/JKCodes</a><br>
              <abbr title="GitHub"><i class="icon-linkedin2"></i></abbr> - <a href="https://www.linkedin.com/in/jkcodes">https://www.linkedin.com/in/jkcodes</a><br>

            </div>

          </div>

        </div>

        <div class="col_one_third">

          <div class="widget widget_links clearfix">

            <h4>Links</h4>

            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="contact/">Contact</a></li>
            </ul>

          </div>

        </div>

        <div class="col_one_third col_last">

          <div class="widget clearfix">
            <h4>Recent Blogs</h4>

            <div id="post-list-footer">
              <div class="spost clearfix">
                <div class="entry-c">
                  <div class="entry-title">
                    <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                  </div>
                  <ul class="entry-meta">
                    <li>10th July 2014</li>
                  </ul>
                </div>
              </div>

              <div class="spost clearfix">
                <div class="entry-c">
                  <div class="entry-title">
                    <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                  </div>
                  <ul class="entry-meta">
                    <li>10th July 2014</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

  <div id="copyrights">

    <div class="container clearfix">

      <div class="col_half">
        Copyrights &copy;2017<br>
      </div>

      <div class="col_half col_last tright">
        <div class="fright clearfix">
          <a href="#" class="social-icon si-small si-borderless si-facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>

          <a href="#" class="social-icon si-small si-borderless si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>

          <a href="#" class="social-icon si-small si-borderless si-gplus">
            <i class="icon-gplus"></i>
            <i class="icon-gplus"></i>
          </a>

          <a href="#" class="social-icon si-small si-borderless si-pinterest">
            <i class="icon-pinterest"></i>
            <i class="icon-pinterest"></i>
          </a>

          <a href="#" class="social-icon si-small si-borderless si-vimeo">
            <i class="icon-vimeo"></i>
            <i class="icon-vimeo"></i>
          </a>

          <a href="#" class="social-icon si-small si-borderless si-github">
            <i class="icon-github"></i>
            <i class="icon-github"></i>
          </a>

          <a href="#" class="social-icon si-small si-borderless si-yahoo">
            <i class="icon-yahoo"></i>
            <i class="icon-yahoo"></i>
          </a>

          <a href="#" class="social-icon si-small si-borderless si-linkedin">
            <i class="icon-linkedin"></i>
            <i class="icon-linkedin"></i>
          </a>
        </div>

        <div class="clear"></div>

        <i class="icon-envelope2"></i> josephkim0224@gmail.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +1-201-574-6896
      </div>

    </div>

  </div>

</footer>