<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="SemiColonWeb" />

<link rel="stylesheet" type="text/css" href="/build/css/style.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

<title>JKCodes - Full-Stack Developer</title>