<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

    <div id="header-wrap">

      <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <div id="logo">
          <a href="/" class="standard-logo"><img src="/images/logo.png" alt="Canvas Logo"></a>
          <a href="/" class="retina-logo"><img src="/images/logo.png" alt="Canvas Logo"></a>
        </div>

        <nav id="primary-menu" class="dark">

          <ul style="border:none">
            <li class="current"><a href="/"><div>Home</div></a></li>
            <li><a href="/blog"><div>Blog</div></a></li>
            <li><a href="/about"><div>About</div></a></li>
            <li><a href="/contact"><div>Contact</div></a></li>
          </ul>

        </nav>

      </div>

    </div>

  </header>