<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    {{>head}}
  </head>

  <body class="stretched">

    <div id="wrapper" class="clearfix">
      {{>nav}}

      <section id="content" style="background: #f9f9f9">
        <div class="content-wrap">

          <div class="container clearfix">

             <div class="postcontent nobottommargin col_last clearfix">

              <div id="posts" class="post-timeline clearfix">

                <div class="timeline-border"></div>

                <div class="entry clearfix">
                  <div class="entry-timeline">
                    Feb<span>2017</span>
                    <div class="timeline-divider"></div>
                  </div>
                  <div class="entry-image">
                    <a href="/images/projects/test.jpg" data-lightbox="image"><img class="image_fade" src="/images/projects/test.jpg" alt="Standard Post with Image"></a>
                  </div>
                  <div class="entry-title">
                    <h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>
                  </div>
                  <div class="entry-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.</p>
                    <a href="blog-single.html"class="more-link">Read More</a>
                  </div>
                </div>
              </div>

            </div>

            <!-- Sidebar
            ============================================= -->
            <div class="sidebar nobottommargin clearfix">
              <div class="sidebar-widgets-wrap">
                
                <div class="widget clearfix">
                  <h4>Basic Info</h4>
                  <p>
                    Hi, my name is Joe, and I am a full-stack web developer with a passion for learning new technologies and problem-solving. With a Bachelor of Science in Information Sciences and Technology and experience in Ruby on Rails, Node, React, Mongo, and Python, I bring strong skills in team-building, communication, client service and driving process efficiency.  I also have significant experience in iOS Development. 
                  </p>
                </div>

                <div class="widget clearfix">

                  <h4>Work and Experience</h4>
                  <div id="oc-portfolio-sidebar" class="owl-carousel carousel-widget" data-items="1" data-margin="10" data-loop="true" data-nav="false" data-autoplay="5000">

                    <div class="oc-item">
                      <div class="iportfolio">
                        <div class="portfolio-image">
                          <a href="https://ywammontana.org">
                            <img src="/images/work/ywam.png" alt="YWAM">
                          </a>
                        </div>
                        <div class="portfolio-desc center nobottompadding">
                          <h3><a href="https://ywammontana.org">Youth With A Mission</a></h3>
                          <h5>May 2011 - September 2013</h5>
                          <span>Network Engineer, IT Manager</span>
                        </div>
                      </div>
                    </div>

                    <div class="oc-item">
                      <div class="iportfolio">
                        <div class="portfolio-image">
                          <a href="https://www.harris.com">
                            <img src="/images/work/exelis.png" alt="Exelis">
                          </a>
                        </div>
                        <div class="portfolio-desc center nobottompadding">
                          <h3><a href="https://www.harris.com">Exelis Inc.</a></h3>
                          <h5>May 2014 - August 2014</h5>
                          <span>IT Intern</span>
                        </div>
                      </div>
                    </div>

                    <div class="oc-item">
                      <div class="iportfolio">
                        <div class="portfolio-image">
                          <a href="http://www.psu.edu">
                            <img src="/images/work/psu.png" alt="PSU">
                          </a>
                        </div>
                        <div class="portfolio-desc center nobottompadding">
                          <h3><a href="http://www.psu.edu">Penn State Unversity</a></h3>
                          <h5>Graduated May 2015</h5>
                          <span>BS: Information Sciences and Technology (GPA: 4.00)</span>
                        </div>
                      </div>
                    </div>

                    <div class="oc-item">
                      <div class="iportfolio">
                        <div class="portfolio-image">
                          <a href="#">
                            <img src="/images/work/sogood.png" alt="So Good">
                          </a>
                        </div>
                        <div class="portfolio-desc center nobottompadding">
                          <h3><a href="#">So Good Corp</a></h3>
                          <h5>September 2013 - May 2017</h5>
                          <span>Energy Consultant</span>
                        </div>
                      </div>
                    </div>

                    <div class="oc-item">
                      <div class="iportfolio">
                        <div class="portfolio-image">
                          <a href="https://flatironschool.com">
                            <img src="/images/work/flatiron.png" alt="YWAM">
                          </a>
                        </div>
                        <div class="portfolio-desc center nobottompadding">
                          <h3><a href="https://flatironschool.com/">Flatiron School</a></h3>
                          <h5>Graduated August 2017</h5>
                          <span>Full-Stack Web Development (Rails and React)</span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="widget clearfix">

                  <h4>Skills</h4>
                  <div class="tagcloud">
                    <a href="#">React/Redux</a>
                    <a href="#">Node</a>
                    <a href="#">Mongo</a>
                    <a href="#">Ruby on Rails</a>
                    <a href="#">Postgres</a>
                    <a href="#">Swift</a>
                    <a href="#">Python</a>
                    <a href="#">Django</a>
                  </div>
                </div>

                <div class="widget clearfix">  
                  <h4>Interests</h4>
                  <div class="tagcloud">
                    <a href="#">Coding</a>
                    <a href="#">Learning New things</a>
                    <a href="#">Eating Out</a>
                    <a href="#">Walking</a>
                    <a href="#">Exploring</a>
                    <a href="#">Singing</a>
                    <a href="#">Musicial Instruments</a>
                    <a href="#">Video Games</a>
                    <a href="#">Korean Dramas</a>
                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </section>

      {{>footer}}

    </div>

    {{>script}}

  </body>
</html>