<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    {{>head}}
  </head>

  <body class="stretched">

    <div id="wrapper" class="clearfix">
      {{>nav}}

      <section id="content">
        <h1>About Page</h1>
      </section>

      {{>footer}}

    </div>

    <div id="gotoTop" class="icon-angle-up"></div>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>

    <script type="text/javascript" src="js/functions.js"></script>

  </body>
</html>