<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    {{>head}}
  </head>

  <body class="stretched">

    <div id="wrapper" class="clearfix">
      {{>nav}}

      <section id="content">

        <div class="content-wrap" style="padding:0px">

          <div class="row clearfix common-height">

            <div class="col-md-6 center col-padding" style="background: url('images/my_photo.jpg') center center no-repeat; background-size: cover;">
              <div>&nbsp;</div>
            </div>

            <div class="col-md-6 center col-padding" style="background-color: #F5F5F5;">
              <div>
                <div class="heading-block nobottomborder">
                  <h3>Welcome to my portfolio site</h3>
                  <img src="images/my_photo.jpg" class="profile-icon" />
                </div>


                <p class="lead nobottommargin" style="height:420px">Hi there!  My name is Joe Kim, and I am a software developer based in New York City.  I am a recent graduate from The Flatiron School, and I am completely addicted to learning and programming.  I specialize in React/Redux, Ruby on Rails, Node, and iOS.  <br /><br />

                When I am not coding, I am learning new frameworks, looking for new restaurants to try out, exploring new places in New York City, and playing musical instruments. <br /><br />

                <strong><i>TODO:  Swap out the picture on the left for a better picture.</i></strong>
                </p>
              </div>
            </div>

          </div>

          <div class="section notopmargin" style="background:#fff;border-top:1px solid #ddd">
            <div class="container clearfix">
              <div class="heading-block center nomargin">
                <h3>Projects</h3>
              </div>
            </div>
          </div>

          <div class="container clearfix">
            <div class="row">
              {{#list}}
                <div class="col-md-4 col-sm-6 bottommargin">
                  <div class="ipost clearfix">
                    <div class="entry-image">
                      <a href="#"><img class="image_fade" src="images/projects/{{image}}" alt="Image"></a>
                    </div>
                    <div class="entry-title">
                      <h3><a href="/project/{{name}}">{{name}}</a></h3>
                    </div>
                    <ul class="entry-meta clearfix">
                      {{#tools}}
                        <li>{{.}}</li>
                      {{/tools}}
                    </ul>
                    <div class="entry-content">
                      <p>{{description}}</p>
                    </div>
                  </div>
                </div>
              {{/list}}
              <div class="col-md-4 col-sm-6 bottommargin">
                <div class="ipost clearfix">
                  <div class="entry-image">
                    <a href="#"><img class="image_fade" src="images/podcast-jkcodes.png" alt="Image"></a>
                  </div>
                  <div class="entry-title">
                    <h3><a href="/project/podcast">Podcast</a></h3>
                  </div>
                  <ul class="entry-meta clearfix">
                    <li>React with Redux</li>
                    <li>Node</li>
                    <li>API - iTunes</li>
                  </ul>
                  <div class="entry-content">
                    <p>
                    Podcast allows users to search for podcasts using iTunes API.  Users can then listen to the podcasts using an audio player that will appear when a user clicks on a podcast.
                    </p>
                  </div>
                </div>
              </div>

 <!--              <div class="col-md-3 col-sm-6 bottommargin">
                <div class="ipost clearfix">
                  <div class="entry-image">
                    <a href="#"><img class="image_fade" src="images/venue-search.png" alt="Image"></a>
                  </div>
                  <div class="entry-title">
                    <h3><a href="/project/venue">Venue Search</a></h3>
                  </div>
                  <ul class="entry-meta clearfix">
                    <li>React with Redux</li>
                    <li>API - Google Maps</li>
                  </ul>
                  <div class="entry-content">
                    <p>
                    Venue Search allows users to find various points of interst at the provided location.  It will fetch results from Yelp API and display the results on the map.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-sm-6 bottommargin">
                <div class="ipost clearfix">
                  <div class="entry-image">
                    <a href="#"><img class="image_fade" src="images/bookmark-jkcodes.png" alt="Image"></a>
                  </div>
                  <div class="entry-title">
                    <h3><a href="/project/bookmark">Bookmark</a></h3>
                  </div>
                  <ul class="entry-meta clearfix">
                    <li>React with Redux</li>
                    <li>Node</li>
                    <li>Mongo DB</li>
                  </ul>
                  <div class="entry-content">
                    <p>
                      Bookmark scrapes information from the provided url then saves the information as a bookmark for the currently logged in user.  Users can then view bookmarks saved by any given profile.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-sm-6 bottommargin">
                <div class="ipost clearfix">
                  <div class="entry-image">
                    <a href="#"><img class="image_fade" src="images/ecommerce-jkcodes.png" alt="Image"></a>
                  </div>
                  <div class="entry-title">
                    <h3><a href="/project/ecommerce">Ecommerce App</a></h3>
                  </div>
                  <ul class="entry-meta clearfix">
                    <li>React with Redux</li>
                    <li>Ruby on Rails</li>
                    <li>Postgres</li>
                  </ul>
                  <div class="entry-content">
                    <p>
                      Ecommerce app allows users to create items, add items to cart, and checkout those items depending on whether the user is a consumer or a merchant.
                    </p>
                  </div>
                </div>
              </div> -->
            </div>
          </div>  
        </div>
      </section>

      {{>footer}}

    </div>

    {{>script}}

  </body>
</html>