<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    {{>head}}
  </head>

  <body class="stretched">

    <div id="wrapper" class="clearfix">
      {{>nav}}

      <section id="content">

        <div class="content-wrap" style="padding:0px">
          <div class="section notopmargin" style="background:#fff;border-top:1px solid #ddd">
            <div class="container clearfix">
              <div class="heading-block center nomargin">
                <h3>Inquiries</h3>
              </div>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <td>Subject</td>
                    <td>Email</td>
                    <td>Name</td>
                    <td>Phone</td>
                    <td>Message</td>
                    <td>Timestamp</td>
                  </tr>
                </thead> 
                <tbody>
                  {{#list}}
                    <tr>
                      <td>{{subject}}</td>
                      <td><a href="mailto:{{email}}">{{email}}</a></td>
                      <td>{{fullname}}</td>
                      <td>{{phone}}</td>
                      <td>{{message}}</td>
                      <td>{{timestamp}}</td>
                    </tr>
                  {{/list}}
                </tbody>
              </table>

              
            </div>
          </div>    
        </div>

      </section>

      {{>footer}}

    </div>

    {{>script}}

  </body>
</html>