<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    {{>head}}
  </head>

  <body class="stretched">

    <div id="wrapper" class="clearfix">
      {{>nav}}

      <section id="content">

        <div class="content-wrap" style="padding:0px">
          <div class="section notopmargin" style="background:#fff;border-top:1px solid #ddd">
            <div class="container clearfix">
              <div class="heading-block center nomargin">
                <h3>Inquiries</h3>
              </div>
            </div>
          </div>

          <div class="container clearfix">
            {{#list}}
              {{subject}}
            {{/list}}
          </div>  
    
        </div>

      </section>

      {{>footer}}

    </div>

    {{>script}}

  </body>
</html>