<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    {{>head}}
  </head>

  <body class="stretched">

    <div id="wrapper" class="clearfix">
      {{>nav}}

      <section id="content" style="background: #f9f9f9">

        <div class="content-wrap">
          <div class="container clearfix">
            <h1>{{name}}</h1>    
          </div>
        </div>
          
      </section>

      {{>footer}}

    </div>

    {{>script}}

  </body>
</html>
