/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.profile-icon {
  width: 160px;
  border-radius: 80px;
  margin-top: 24px;
  border: 1px solid #ddd;
  padding: 8px;
  background: #fff
}



